@import './base.css';

.modal-csm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  background-color: rgba(27, 27, 31, 0.8);
  backdrop-filter: blur(6px);
  border: 2px solid var(--ev-c-black-mute);
  border-radius: 10px;
  box-shadow: 24px 24px 64px rgba(0, 0, 0, 0.5);
  padding: 24px;
  outline: none;
  display: flex;
}

.left-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right-div {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}

#modal-title {
  font-size: 18px;
  font-weight: bold;
}
